.idea/
venv/
venv/Lib/site-packages/
/MSc Project/data/
Training/eeg_detector/
/GenericObjectDecoding/.idea/
/Training/fmri_data_training/data/
/GenericObjectDecoding/data/
/MSc Project/bxz056/.ipynb_checkpoints/
/GenericObjectDecoding/venv/
